#section-slideshow img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

#section-slideshow .slick-arrow {
  font-size: 0;
  border: 0;
}

#section-slideshow .slick-arrow::after {
  content: '';
  display: inline-block;
  height: 30px;
  width: 60px;
  background: url('../img/arrow.png') no-repeat center center;
  background-size: contain;
  cursor: pointer;
}

#section-slideshow .slick-prev::after {
  transform: rotate(180deg);
}
